# To be able to run the dockerfile with migrations, add the following to your .env file.
# TODO: Update your_user and your_password with your actual database username and password.

FLYWAY_URL=jdbc:postgresql://host.docker.internal:5432/your_database
FLYWAY_USER=your_user
FLYWAY_PASSWORD=your_password